@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Product/Index"];
}


<h1> Çoklu Dil Seçeneği </h1>

@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@

<h1>@Localizer["Merhaba"]</h1>
<h2>@Localizer["Message"]</h2>