@{
    ViewData["Title"] = "Poslar";
}

@model IEnumerable<IsTeYazilim.Models.Category>

<h1> Poslar</h1>
<br />
<h6>Pos Çeşitlerimiz </h6>
<br />
@*<body>
    @Html.Partial("_Category", Model)
</body>*@
<div class="navbar-nav flex-grow-1">
    <div class="col-md-4">
        <div class="form-group">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark">Verifone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">İnfotek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">VERA</a>
                </li>
            </ul>
        </div>
    </div>
</div>