@{
    ViewData["Title"] = "Yazar Kasa";
}

@model IEnumerable<IsTeYazilim.Models.Category>

<h1> Yazar Kasa</h1>
<br />
<h6>4 adet Yazar Kasa bulunmaktadır. </h6>
<br />
@*<body>
    @Html.Partial("Create", Model)
</body>*@
<div class="navbar-nav flex-grow-1">
    <div class="col-md-4">
        <div class="form-group">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark">POSPAD 101</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">İNGENİCO İWE 280</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Yazar Kasa 220TR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">OLİVETTİ PBT900</a>
                </li>
            </ul>
        </div>
    </div>
</div>